{{>header}}

<div class="main-content">
    
    <div class="profile-card-container">
        <div class="profile-card">
            
            <div class="profile-photo-area">
                <div class="profile-photo-frame">
                    <img src="/img/hana.jpeg" alt="Foto Diri">
                </div>
            </div>

            <div class="profile-text-area">
                <h2 class="card-heading-name">This is me!</h2>
                <p class="card-heading-title">Mahasiswi Informatika | Universitas Negeri Padang</p>
                <p class="card-text-bio">
                    Hai! Aku Aisyah Farhanah, mahasiswi semester 5 Jurusan Informatika di Universitas Negeri Padang, dan sekarang aku berusia 20 tahun. Aku asalnya dari Pekanbaru, tapi sekarang lagi merantau di Padang buat kuliah dan ngejar mimpi di dunia teknologi. 
                </p>
                <p class="card-text-bio">
                    Aku orangnya aktif banget wkwk, bisa dibilang nggak bisa diem. Aku suka ikut kegiatan kampus, gabung di organisasi, dan sesekali juga ngurus acara biar tetap produktif. Kalau lagi nggak sibuk, aku biasanya nongkrong sambil ngopi, karena kopi udah jadi my comfort drink yang selalu nemenin di segala mood. 
                </p>
                <p class="card-text-bio">
                    Selain itu, aku juga nggak bisa jauh dari musik. Dengerin lagu tuh udah kayak daily reset button buatku bikin semangat balik lagi setelah hari yang panjang. Sekarang aku lagi mendalami dunia kecerdasan buatan (AI) dan pengembangan web. Awalnya aku bener-bener “blank” soal teknologi, tapi karena rasa penasaran yang besar, aku mulai belajar sedikit demi sedikit. Dan ternyata seru banget! Dunia teknologi itu luas banget, dan selalu ada hal baru yang bisa dipelajari tiap hari.
                </p>
                <p class="card-text-bio">
                    Selama kuliah, aku udah sempat ngerjain beberapa proyek kecil, dan dari situ aku belajar kalau progress sekecil apa pun tetap berarti asal dijalani dengan konsisten. Aku juga suka eksplor hal-hal baru di luar kelas kadang ngulik desain, kadang baca soal teknologi masa depan, kadang juga cuma vibing sambil mikir, “life’s crazy, but that’s what makes it interesting.”  Masih banyak hal yang pengen aku pelajari dan capai, tapi aku percaya setiap langkah kecil bakal ngarah ke sesuatu yang besar. Keep learning, keep growing, and enjoy every moment of the journey.
                </p>

                 <div class="cta-buttons-card">
                 <a href="/bantuan" class="btn-primary">Lihat Bantuan</a>
                </div>
             </div>
         </div>
    </div>
</div>

{{>footer}}